html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #909091;
    font-family: 'Amatic SC', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Amatic SC', sans-serif;
    color: #c76a00ef;
    font-size: 70px;
    margin-bottom:15px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    font-size: 25px;
    width: 345px;  
    cursor: pointer;
    margin-bottom: 17px;
}

.restart{
    background-color: inherit;
    border: 0;
    margin-left: 15px;
    color: rgb(59, 59, 59);
    border-radius: 50%;
    height: 3em;
    width:3em;
    box-shadow: 3px 5px 20px 0 rgba(46, 61, 73, 0.5);
}

.restart:hover{
    box-shadow: 5px 2px 20px 0 rgba(223, 105, 8, 0.5);
    color: #c76a00ef;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 650px;
    min-height: 680px;
    padding: 12px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 600px;
}

.deck .card {
    height: 160px;
    width: 150px;
    font-size: 0;
    color: #1d0d0d;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(223, 105, 8, 0.5);
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.deck .card.open {
    transform: rotateY(180deg);
    cursor: default;
}

.deck .back{
    transform: rotateY(180deg);
}

.back img{
    height:153px;
    width: 140px;
    position: relative;
    left: -1%
}

.card{
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: -moz-transform 500ms;
    -o-transition: -o-transform 500ms;
    transition: transform 500ms;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card div{
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    width: 90%;
 }
 
  .card .back {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  .card.open {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }

.deck .match{
    box-shadow: 4px 4px 15px 0px rgba(211, 81, 42, 0.781);
 }

 /* modal box */


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(25, 15, 10, 0.6); 
    background-image: url(img/bigcampbell.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-content {
    background-color: #d77721;
    border-radius: 50%;
    margin: auto;
    padding: 10px 0px 0px 29px;
    width: 170px;
    height: 160px;
    position: relative;
    top: 70px;
    left: 85px;
    font-size: 23px;
    text-align: center;
    color: #000;
}

.close {
    color: #5a1c09;
    float: right;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    bottom: 35px;
    left: 35px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 81px;
}

.playAgain{
    border: 0;
    background-color: inherit;
    box-shadow: 6px 5px 10px 0 rgba(46, 61, 73, 0.5);
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    float: right;
    position: relative;
    bottom: 15px;
    left: 25px;
}

.modal-content{
    font-family: 'Amatic SC', sans-serif;
}

.playAgain:hover{
    box-shadow: 6px 5px 8px 0 rgba(211, 81, 42, 0.781);
    font-size: 26px; 
}


/* credits: Campbell's cans-  Endy Worhol */

/* animation  for matched cards*/

@-webkit-keyframes match{
    0%, 100% {-moz-transform: rotate(0);}
    50% {-moz-transform: rotate(3deg) ;}
    75% {-moz-transform: rotate(-3deg) ;}
}

@-moz-keyframes match{
    0%, 100% {-moz-transform: rotate(0);}
    50% {-moz-transform: rotate(3deg) ;}
    75% {-moz-transform: rotate(-3deg) ;}
}

@-o-keyframes match{
    0%, 100% {-moz-transform: rotate(0);}
    50% {-moz-transform: rotate(3deg) ;}
    75% {-moz-transform: rotate(-3deg) ;}
}

@keyframes match{
    0%, 100% {-moz-transform: rotate(0);}
    50% {-moz-transform: rotate(3deg) ;}
    75% {-moz-transform: rotate(-3deg) ;}
}

.match{
    -webkit-animation: match 500ms ease-in-out; 
    -moz-animation: match 500ms ease-in-out;
    -o-animation: match 500ms ease-in-out;
    animation: match 500ms ease-in-out;  
}